<%- include("./partials/header.ejs") %>
<div class="container-fluid py-5">
    <div class="container">
        <h2><%=Name%></h2>
        <h3><%=Prediction%></h3>
    </div>
</div>
<%- include("./partials/footer.ejs") %>